body{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url("./images/weather8.jpg") center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

.back-button{
  background-color: #E0E0E0;
  border: 2px solid #E0E0E0;
  cursor: pointer;
  box-shadow: 5px 5px 5px gray;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.show-chart{
  background-color: rgb(0, 149, 255);
  border: 2px solid rgb(0, 149, 255);
  cursor: pointer;
  box-shadow: 5px 5px 45px gray;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
  color: white;
  font-weight: 600;
}
.bar{
background-color: #eee; 
max-width: 1000px;
margin:auto; 
margin-top: 80px;
padding: 30px;
}

td.text-right{
  font-weight: bold;
  width: 50%;
}

td.text.left{
  width: 50%;
}